/* Typography
-------------------------------------------------------------- */
body,
button,
input,
select,
textarea {
	font-size: 16px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.criminalList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.criminalList div {
	border: 1px dotted black;
	padding: 15px;
	margin: 10px;
	width: 230px;
}

.criminalList p {
	margin: 0px;
}

h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

h4 {
	font-size: 14pt;
}

select {
	width: 250px;
	padding: 3px;
	margin: 3px;
}

label {
	font-weight: bold;
}

/* .note-entry {
	display: flex;
	flex-direction: column;
	margin: 10px 3px;
	width: 25%;
} */

/* .note-entry input {
	margin: 3px;
}

button {
	width: 50%;
	margin: 3px;
} */