/* Typography
-------------------------------------------------------------- */
body,
button,
input,
select,
textarea {
	font-size: 16px;
	line-height: 1.2;
	font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.criminalList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.criminalList div {
	border: 1px dotted black;
	padding: 15px;
	margin: 10px;
	width: 230px;
}

.criminalList p {
	margin: 0px;
}

h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	
}

h4 {
	font-size: 16pt;
	margin: 10px;
}

select {
	width: 250px;
	padding: 3px;
	margin: 3px;
}



button {
	margin: 3px 0;
}

p {
	margin: 0 3px;
}